:root {
  --color-primary: #4caf50;
  --color-primary-hover: #3e8e41;
  --color-delete: rgb(218, 61, 61);
  --color-delete-hover: rgb(179, 49, 49);
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #aaa;
  --color-darker-gray: #444;
}

*,
*::after,
*::before {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.html {
  font-size: 62.5%;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.navbar {
  position: fixed;
  top: 0;
  box-shadow: 0px 5px 10px 0px var(--color-gray);
  width: 100%;
  background: var(--color-white);
  color: var(--color-black);
  z-index: 100;
}

.navbar-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 85px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
  height: 50%;
  align-items: center;
}

.logo {
  color: var(--color-primary);
  order: 1;
  font-size: 2.3rem;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}

.cart-icon {
  width: 35px;
  font-size: 2.3rem;
  cursor: pointer;
}

.cart-indicator {
  padding: 2px;
  font-size: 1.3rem;
}

.shopping-cart {
  position: absolute;
  top: 80%;
  right: 0;
  background: var(--color-white);
  border-radius: 3px;
  padding: 20px;
  border: 1px solid var(--color-gray);
}

.shopping-cart-items li {
  list-style: none;
  margin: 20px 0 0 0;
  position: relative;
}

.shopping-cart img {
  height: 50px;
  float: left;
  margin-right: 12px;
}

.item-delete {
  position: absolute;
  height: 28px !important;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.item-name {
  display: block;
  font-size: 16px;
}

.shopping-cart-total-price {
  color: var(--color-primary);
  font-size: 18px;
  font-weight: bold;
}

.item-price {
  color: var(--color-primary);
  margin-right: 8px;
}

.item-image {
  height: 60px;
  width: 60px;
}

.item-quantity {
  color: var(--color-black);
}

.badge {
  padding: 3px 7px;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 50%;
  font-size: 14px;
}

.shopping-cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  border-bottom: 1px solid var(--color-gray);
  padding: 4px;
}

.shopping-cart-header div {
  display: flex;
  align-items: center;
}

.navbar a {
  color: var(--color-darker-gray);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: var(--color-primary);
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 85px;
  padding: 15px;
}

.product-card {
  width: 300px;
  margin: 20px;
  border: 1px solid var(--color-gray);
  text-align: center;
  border-radius: 7px;
}

.product-card img {
  width: 150px;
  height: 150px;
  margin: 20px;
}

.product-card h3 {
  margin-top: 0;
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-primary);
}

button {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background-color: var(--color-primary-hover);
}

.delete-style {
  background-color: var(--color-delete);
  font-weight: 400;
  font-size: 15px;
}

.delete-style:hover {
  background-color: var(--color-delete-hover);
}

.card-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
}

.quick-view {
  background-color: var(--color-gray);
  font-weight: 400;
}

.quick-view:hover {
  background-color: #8d8b8b;
  font-weight: 400;
}

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar .menu-items {
    align-items: center;
    height: 100%;
  }

  .navbar .menu-items li {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0 0rem;
  }

  .navbar .shopping-cart {
    max-width: fit-content;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px var(--color-gray);
    left: 0;
  }

  .logo {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 2.5rem;
  }
  .shopping-cart-header {
    gap: 5rem;
  }
}

@media (max-width: 500px) {
  .navbar-container input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
}

@media (max-width: 300px) {
  .shopping-cart-header {
    gap: 0rem;
  }
  .item-name,
  button {
    font-size: 12px;
  }
  .item-delete {
    height: 20px !important;
  }
  .shopping-cart img {
    margin-right: 2px !important;
  }
  .delete-style {
    font-size: 12px;
  }
  .card-buttons {
    padding: 5px;
    gap: 5px;
  }
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background-color: var(--color-white);
  border-radius: 7px;
  width: 50%;
  height: fit-content;
  display: flex;
  padding: 1rem;
}

.modal-img {
  width: 30%;
}

.hidden {
  display: none;
}
